@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
margin: 0;
padding: 0;
font: Roboto;
}

body{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(90deg,rgba(180, 58, 123, 1) 0%, rgba(242, 35, 56, 1) 43%, rgba(214, 192, 51, 1) 76%, rgba(182, 252, 69, 1) 100%);
}

.relogio{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: black;
    height: 300px;
    width: 570px;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.relogio span {
    font-size: 120px;
    margin-left: 12px;
}

